body{
background-color: black;
font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

div{
margin-top:-2px !important;
margin-bottom:-2px !important;
border: 2px solid black;
}

.container{
width:60%;
margin-left:20%;
}


.data{ 
min-height:60;
color:black;
background-color: white;
vertical-align: middle;
height: auto;
 }
 
 .date{ 
height: 20;
color:white;
background-color: black;
vertical-align: middle;
 }
 
 .titolo{
margin:0px;
margin-top:3px;
 }
 
 .testo{
 padding-top: 18px;
 margin:0px;
 margin-bottom:3px;
 }
 
.header{
 text-align:center;
 font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
 font-size:120;
 color: white;
 height: 150px;
 }
 
.buttons{
height: 20;
color:white;
background-color: black;
vertical-align: middle;
}
 
 a:link{
 color: black; 
 }
 
  a:visited{
 color: gray; 
 }
 
  a:hover{
 color: black; 
 text-decoration: underline;
 }
 
  a.buttons:link{
  color: white !important;
  text-decoration: none;
  }

  a.buttons:visited{
  color: white !important;
  text-decoration: none;
  }

 
 a.kaptn:link{
 color: white;
 text-decoration: none;
 }
 
  a.kaptn:hover{
 color: white;
 text-decoration: none;
 }
 
   a.kaptn:visited{
 color: white;
 text-decoration: none;
 }
 
 .next{
	float: right;
  margin-right: 0;
  }
 .prev{
	float: left;
  margin-left: 0;
 }