body{
background-color: black;
font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}



.data{ 
width: 60%;
min-height:60;
color:black;
background-color: white;
margin-left:20%;
margin-top:-2px !important;
margin-bottom:-2px !important;
border: 2px solid black;
vertical-align: middle;
height: auto;
 }
 
 .date{ 
width: 60%;
height: 20;
color:white;
background-color: black;
margin-left:20%;
margin-top:-2px !important;
margin-bottom:-2px !important;
border: 2px solid black;
vertical-align: middle;
 }
 
 .titolo{
margin:0px;
margin-top:3px;
/*font-weight: bold;*/
 }
 
 .testo{
 padding-top: 18px;
 margin:0px;
margin-Bottom:3px;
 }
 
.header{
 text-align:center;
 font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
 font-size:120;
 color: white;
 width: 60%;
 height: 150px;
 margin:0px;
 margin-left:20%;
 border: 2px solid black;
 }
 
 .buttons{
width: 60%;
height: 20;
color:white;
margin-left:20%;
background-color: black;
margin-top:-2px !important;
margin-bottom:-2px !important;
border: 2px solid black;
vertical-align: middle;
}
 
 a:link{
 color: black; 
 }
 
  a:visited{
 color: gray; 
 }
 
  a:hover{
 color: black; 
 text-decoration: underline;
 }
 
  a.buttons:link{
  color: white !important;
  text-decoration: none;
  }

  a.buttons:visited{
  color: white !important;
  text-decoration: none;
  }

 
 .next{
	float: right;
  margin-right: 20%;
  }
 .prev{
	float: left;
  margin-left: 20%;
 }